
<!DOCTYPE html><html class=''>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/extrangeira.css")">
    <!--<script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/soulrider911/pen/ugnyl?limit=all&page=5&q=form" />-->
  </head>
  <body>
    <header>
      <h1><i class="fa fa-book"></i> Literatura Estrangeira! <span></span> <i class="fa fa-book"></i></h1>
    </header>
    <div>
        <!--  Nome -->
      <div class="form-group">
        <h2 class="heading">Autores</h2>
        <div class="">
          <input type="checkbox" name="check_list[1]" id="autor1" value="JKRowling">J. K. Rowling
          <input type="checkbox" name="check_list[2]" id="autor2" value="JohnGreen"> John Green
          <input type="checkbox" name="check_list[3]" id="autor3" value="JRRTolkien">J. R. R. Tolkien
          <input type="checkbox" name="check_list[4]" id="autor4" value="DanBrown">Dan Brown
          <input type="checkbox" name="check_list[5]" id="autor5" value="AgathaChristie">Agatha Christie
          <input type="checkbox" name="check_list[6]" id="autor6" value="RickRiordan">Rick Riordan
          <input type="checkbox" name="check_list[7]" id="autor7" value="SirArthurConanDoyle">Sir Arthur Conan Doyle
          <input type="checkbox" name="check_list[8]" id="autor8" value="SuzanneCollins">Suzanne Collins
          <input type="checkbox" name="check_list[9]" id="autor9" value="WilliamPYoung">William P. Young
      </div>

      <script>
        var autor = [];
        var autor1 = false;
        document.getElementById("autor1").addEventListener("click", function() {
          autor1 = !autor1;

          if (autor1) {
            autor[0] = document.getElementById("autor1").valueOf();
            console.log("marcou")
          } else {
            console.log("desmarcou ")
          }
        })
          var autor2 = false;
          document.getElementById("autor2").addEventListener("click", function() {
            autor2 = !autor2;

            if (autor2) {
              autor[1] = document.getElementById("autor2").valueOf();
              console.log("marcou2")
            } else {
              console.log("desmarcou2 ")
            }
          })
            var autor3 = false;
            document.getElementById("autor3").addEventListener("click", function() {
              autor3 = !autor3;

              if (autor3) {
                autor[2] = document.getElementById("autor3").valueOf();
                console.log("marcou3")
              } else {
                console.log("desmarcou3 ")
              }
            })
            var autor4 = false;
            document.getElementById("autor4").addEventListener("click", function(){
              autor4 = !autor4;

              if(autor4){
                autor[3] = document.getElementById("autor4").valueOf();
                console.log("marcou4")
              }else{
                console.log("desmarcou4 ")
              }
        })
            var autor5 = false;
            document.getElementById("autor5").addEventListener("click", function(){
              autor5 = !autor5;

              if(autor5){
                autor[4] = document.getElementById("autor5").valueOf();
                console.log("marcou5")
              }else{
                console.log("desmarcou5")
              }
            })
          var autor6 = false;
          document.getElementById("autor6").addEventListener("click", function(){
            autor6 = !autor6;

            if(autor6){
              autor[5] = document.getElementById("autor6").valueOf();
              console.log("marcou6")
            }else{
              console.log("desmarcou6")
            }
          })
          var autor7 = false;
          document.getElementById("autor7").addEventListener("click", function(){
            autor7 = !autor7;

            if(autor7){
              autor[6] = document.getElementById("autor7").valueOf();
              console.log("marcou7")
            }else{
              console.log("desmarcou7")
            }
          })
          var autor8 = false;
          document.getElementById("autor8").addEventListener("click", function(){
            autor8 = !autor8;

            if(autor8){
              autor[7] = document.getElementById("autor8").valueOf();
              console.log("marcou5")
            }else{
              console.log("desmarcou5")
            }
          })
          var autor9 = false;
          document.getElementById("autor9").addEventListener("click", function(){
            autor9 = !autor9;

            if(autor9){
              autor[8] = document.getElementById("autor9").valueOf();
              console.log("marcou5")
            }else{
              console.log("desmarcou5")
            }
          })

      </script>

        <!--  Details -->
      <div class="form-group">
        <h2 class="heading">Genero</h2>
        <div class="controls">
          <i class="fa fa-sort"></i>
          <select class="floatLabel">
            <option value="Aventura">Aventura</option>
            <option value="Biografia">Biografia</option>
            <option value="Contos">Contos</option>
            <option value="Cronicas">Cronicas</option>
            <option value="Fantasia">Fantasia</option>
            <option value="Ficçao Cientifica">Ficçao Cietifica</option>
            <option value="Infantojuvenis">Infantojuvenis</option>
            <option value="Poesia">Poesia</option>
            <option value="Romance">Romance</option>
          </select>
        </div>
      </div>
        <!--  Details -->
      <div class="form-group">
        <h2 class="heading">Numero de Paginas</h2>
        <div class="controls">
          <i class="fa fa-sort"></i>
          <select class="floatLabel">
            <option value="indiferente">Indiferente</option>
            <option value="pequeno">0 - 200</option>
            <option value="medio">201 - 400</option>
            <option value="grande">401 +</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <h2 class="heading">Livros Relacionados</h2>
        <div class="controls">
          <input type="checkbox" name="check_list[1]" value="livro 1">Harry Potter
          <input type="checkbox" name="check_list[2]" value="livro 2">O teorema de Katherine
          <input type="checkbox" name="check_list[3]" value="livro 3">O senhor dos anéis
          <input type="checkbox" name="check_list[4]" value="livro 4">Anjos e demônios
          <input type="checkbox" name="check_list[5]" value="livro 5">O Assassinato de Roger Ackroyd
          <input type="checkbox" name="check_list[6]" value="livro 6">Percy Jackson
          <input type="checkbox" name="check_list[6]" value="livro 7">Sherlock Holmes
          <input type="checkbox" name="check_list[6]" value="livro 8">Jogos Vorazes
          <input type="checkbox" name="check_list[6]" value="livro 9">A cabana
        </div>
      </div>

      <div class="controls">
        <a action="SelecionaAutores()">
          <button type="submit">ENVIAR</button>
        </a>
      </div>
    </div>
    <script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="@routes.Assets.at("javascripts/LiteraturaEstrangeira.js")" type="text/javascript"></script>
    <script >(function($){
      function floatLabel(inputType){
        $(inputType).each(function(){
          var $this = $(this);
          // on focus add cladd active to label
          $this.focus(function(){
            $this.next().addClass("active");
          });
          //on blur check field and remove class if needed
          $this.blur(function(){
            if($this.val() === '' || $this.val() === 'blank'){
              $this.next().removeClass();
            }
          });
        });
      }
      // just add a class of "floatLabel to the input field!"
      floatLabel(".floatLabel");
    })(jQuery);
    //# sourceURL=pen.js
    </script>
  </body>
</html>